body {
  background-color: rgba(248, 205, 194, 0.452);
}
.container {
  max-width: 1400px;
  margin: 20px auto;
}
header {
  display: block;
  text-align: center;
  background-image: linear-gradient(
      rgba(237, 56, 6, 0.274),
      rgba(4, 4, 4, 0.37)
    ),
    url("../images/lego-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0px;
  padding: 200px 0;
}
.trademark-1 {
  font-size: 70px;
}
.trademark-2 {
  font-size: 30px;
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 80px;
  margin: 0px;
}

header h2,
h3 {
  font-family: "Young Serif", serif;
  margin: 10px;
  font-size: 40px;
  line-height: 100px;
}
header a {
  display: inline-block;
  background-color: white;
  padding: 20px 60px;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: none;
  font-family: "Young Serif", serif;
  color: black;
  border-radius: 10px;
}
p {
  font-family: "Young Serif", serif;
}
main {
  background-color: white;
  padding: 50px 0;
}

section.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.img-responsive {
  max-width: 100%;
}
main img {
  width: 100%;
  display: block;
  margin-left: 20px;
  border-radius: 10px;
  filter: brightness(90%) drop-shadow(5px 5px 5px);
}
main h2,
p {
  padding: 0px 60px;
  margin-left: 30px;
}
main h2 {
  font-size: 32px;
  line-height: 5px;
}
main p {
  font-size: 20px;
}
.radio {
  display: block;
  margin: 0px auto;
  width: 80%;
  aspect-ratio: 21/9;
}

.secondary {
  background-color: rgba(217, 212, 212, 0.558);
  padding-bottom: 50px;
}

.secondary h2 {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 10px;
  background-color: white;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}
.card h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
  margin: 0px;
  line-height: 30px;
}
.card p {
  font-size: 20px;
}
.instagram-media {
  width: 100% !important;
  display: block;
  margin: 0 auto;
}
section.tertiary {
  background-color: white;
}
.tertiary h2 {
  padding-top: 30px;
  text-align: center;
}
section .grid-1-column-equal {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto;
}

footer {
  background-image: linear-gradient(
      rgba(60, 58, 57, 0.789),
      rgba(4, 4, 4, 0.948)
    ),
    url("../images/lego-cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
}

footer p strong {
  margin: 0px;
  text-align: left;
  padding: 0px;
  font-size: 25px;
}

footer .grid-3-col {
  grid-gap: 0px;
}
footer a {
  color: white;
  font-size: 20px;
}
@media (max-width: 900px) {
  .container {
    margin: 0px;
  }
  header {
    margin: 0px;
    padding: 0px;
  }
  header h1 {
    font-size: 50px;
    line-height: 50px;
  }
  header h2,
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .trademark-1 {
    font-size: 40px;
  }
  .trademark-2 {
    font-size: 20px;
  }
  header a {
    display: inline-block;
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 11px;
    text-decoration: none;
    font-family: "Young Serif", serif;
    color: black;
    border-radius: 10px;
  }
  main {
    padding: 0px;
  }

  section.grid-2-column {
    display: grid;
    grid-template-columns: 1fr;
  }
  main img {
    display: none;
  }
  main h2,
  p {
    padding: 0px 10px;
  }
  main h2 {
    font-size: 22px;
    line-height: 20px;
  }
  main p {
    font-size: 15px;
  }
  .secondary {
    background-color: rgba(217, 212, 212, 0.558);
    padding-bottom: 10px;
  }

  .secondary h2 {
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card {
    padding: 10px;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
  }
  .card h2 {
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
    margin: 0px;
    line-height: 30px;
  }
  .card p {
    font-size: 20px;
    text-align: center;
  }
  section.tertiary {
    background-color: white;
    margin-bottom: ;
  }
  .tertiary h2 {
    padding-top: 0px;
    text-align: center;
  }
  section .grid-1-column-equal {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  footer {
    background-image: linear-gradient(
        rgba(60, 58, 57, 0.789),
        rgba(4, 4, 4, 0.948)
      ),
      url("../images/lego-cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 0px;
  }

  footer p strong {
    margin: 0px;
    text-align: left;
    padding: 0px;
    font-size: 20px;
  }

  footer .grid-3-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  footer p a {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .trademark-1 {
    font-size: 40px;
  }
  .trademark-2 {
    font-size: 20px;
  }
  main img {
    display: none;
  }

  section.grid-2-column {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card p {
    display: none;
  }
  .tertiary h2 {
    padding-bottom: 10px;
    text-align: center;
  }
  section .grid-1-column-equal {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .twitter-tweet {
    display: block;
    margin: 10px auto;
  }
  footer {
    margin: 0px auto;
  }

  footer p a {
    font-size: 16px;
  }
}
