body {
  background-color: rgba(248, 205, 194, 0.452);
}
.container {
  max-width: 1400px;
  margin: 20px auto;
}
header {
  display: block;
  text-align: center;
  background-image: linear-gradient(
      rgba(237, 56, 6, 0.274),
      rgba(4, 4, 4, 0.37)
    ),
    url("../images/lego-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0px;
  padding: 200px 0;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 80px;
  margin: 0px;
}

header h2,
h3 {
  font-family: "Young Serif", serif;
  margin: 10px;
  font-size: 40px;
  line-height: 100px;
}
header a {
  display: inline-block;
  background-color: white;
  padding: 20px 60px;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: none;
  font-family: "Young Serif", serif;
  color: black;
  border-radius: 10px;
}
p {
  font-family: "Young Serif", serif;
}
main {
  background-color: white;
  padding: 50px 0;
}

section.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.img-responsive {
  max-width: 100%;
}
main img {
  width: 100%;
  display: block;
  margin-left: 20px;
  border-radius: 10px;
}
main h2,
p {
  padding: 0px 90px;
}
main h2 {
  font-size: 32px;
  line-height: 5px;
}
main p {
  font-size: 20px;
}
.radio {
  display: block;
  margin: 0px auto;
  width: 80%;
  aspect-ratio: 21/9;
}

.secondary {
  background-color: rgba(217, 212, 212, 0.558);
}

.secondary h2 {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 10px;
  background-color: white;
  margin: 10px 10px;
  border-radius: 10px;
}
.card h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
  margin: 0px;
  line-height: 30px;
}
.card p {
  font-size: 20px;
}
